<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<outofstock>
			<options>
				<enabled>1</enabled>
				<message_pdp>This item will be available till : </message_pdp>
				<message_plp>Available till : </message_plp>
			</options>
		</outofstock>
	</default>
</config>
